@import "../node_modules/normalize.css/normalize.css";
@import "https://unpkg.com/open-props";

:root {
    font-family: var(--font-sans);
}

/* 
    ELEMENTS
*/

body {
    background-color: var(--violet-4);
}

table {
    border: solid 1px var(--gray-9);
}


/* 
    COMPONENTS
*/